fastapi==0.129.0
uvicorn==0.40.0
SQLAlchemy==2.0.46
asyncpg==0.31.0
pydantic==2.12.5
pydantic-settings==2.13.0
PyJWT==2.10.1
bcrypt==4.2.1
python-dotenv==1.2.1
email-validator==2.3.0
psycopg2-binary==2.9.11
python-multipart==0.0.6
typing_extensions==4.15.0
passlib
gunicorn
uvicorn[standard]
